@using System.Data;
@using Newtonsoft.Json;
@using System.Web;
@using Tools.Tools.Grid;
@model InitGrid

<style type="text/css">

    table {
        width: 100%;
    }

    td {
        width: 200px;
    }

    td, th {
        padding: 15px 10px;
        border: 1px solid #999;
        text-align: right;
    }

    .th, .th a {
        background: gray;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 2px 5px;
        margin: 0 5px;
    }

    .tr, .tr a {
        background: LightGray;
        color: #000;
        border: 1px solid #999;
        border-radius: 4px;
        padding: 2px 5px;
        margin: 0 5px;
    }

    tfoot > tr > td > button {
        color: #000;
        width: 33px;
        height: 33px;
        border: 1px solid #999;
        border-radius: 4px;
        padding: 1px 5px 2px 5px;
        margin: 0 5px;
    }
    tfoot > tr > td {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
    }

    .activePager {
        background: #DCDCDC;
        border-color: #808080;
    }

    /* to toggle between (view and edit modes) of control box*/
    .ctrlView > div:first-child {
        display: block;
    }

    .ctrlView > div:last-child {
        display: none;
    }

    .ctrlEdit > div:first-child {
        display: none;
    }

    .ctrlEdit > div:last-child {
        display: block;
    }

    .hide, .msg, .pk {
        display: none;
    }

    .bg{
        background-color: yellow;
    }
    [disabled] {
        background-color: #cccccc;
        color: #666666;
        cursor: no-drop;
    }

/*    table tr td:nth-child(2) { display:none; }
*/

/*    @@foreach (var col in Model.columns)
    {
        @@(
        $"table tr td:nth-child({col.ColIndex}) {{ display:none; }}"
        );
    }*/
    
</style>
<div class='container mt-5 p-3'>
    <table id="table@(Model.grid.GridName)"></table>
    <form id="form@(Model.grid.GridName)"></form>
</div>

@{
    string grid = JsonConvert.SerializeObject(Model.grid);
    string columns = JsonConvert.SerializeObject(Model.columns);
    object rows = JsonConvert.SerializeObject(Model.rows);
    string footer = JsonConvert.SerializeObject(Model.footer);
}

<script type="text/javascript">

const grid = JSON.parse(JSON.parse(JSON.stringify('@Html.Raw(grid)')));
const columns = JSON.parse(JSON.parse(JSON.stringify('@Html.Raw(columns)')));
let footer = JSON.parse(JSON.parse(JSON.stringify('@Html.Raw(footer)')));
let rows = JSON.parse(JSON.parse(JSON.stringify('@Html.Raw(rows)')));

let row; let colsLength;
const table = document.getElementById(`table${grid.GridName}`);
const form = document.getElementById(`form${grid.GridName}`);
// ---------------------------------------------------------------------------- table start
HTMLTableElement.prototype.addFooter = addFooter;
function addFooter() {
    let TFoot; if (this.tFoot === undefined || this.tFoot === null) { TFoot = this.createTFoot(); }
    else { this.deleteTFoot(); TFoot = this.createTFoot(); }
    row = TFoot.insertRow(0); 
    row.id = 'footerRow';
    row.dataset.activebtn = footer.activeBtn; // activeBtn
    row.dataset.firstbtn = footer.firstBtn; // footer first pager button
    let newCell = row.insertCell();
    newCell.colSpan = colsLength + 1;
    newCell.style = 'text-align:center;';
    let prev = footer.prevBtn;
    let first = footer.firstBtn;
    let last = footer.lastBtn;
    newCell.innerHTML = `<button data-pager='prev${prev}' onclick="onPaging('${prev}','${prev}')" ${footer.isPrevDisabled} class="bi bi-chevron-left"></button>`;
    for (let i = first; i < last; i++) {
        var IsActive = (i == footer.activeBtn ? "class='activePager'" : "");
        newCell.innerHTML += `<button data-pager='${i}' ${IsActive} onclick="onPaging(0, '${i}')">${i}</button>`;
    }
    newCell.innerHTML += `<button data-pager='next${last}' onclick="onPaging('${last}','${last}')" ${footer.isNextDisabled} class="bi bi-chevron-right"></button>`;
}
HTMLTableElement.prototype.addHeader = addHeader;
function addHeader() {
    let THead; if (this.tHead===undefined||this.tHead===null){THead=this.createTHead();}else{return;}
    row = THead.insertRow(0); row.id = 'headerRow'; row.className = 'th';
    columns.map((col) => { row.addCell(col); });
}
HTMLTableElement.prototype.addRow = addRow;
function addRow(data, position = -1){
    let rowId = Math.floor((Math.random() * 100000) + 1);
    let TBody = ((this.tBodies.length == 0)? this.createTBody() : this.tBodies[0]);
    row = TBody.insertRow(position); 
    row.id = rowId; row.className = 'tr';
    let rowObj = Object.entries(data); 
    columns.map((col, i) => { 
        let value = (col.ColName == 'msg' ? '<b>هل انت متاكد من الحذف !</b>' : (col.ColName == 'ctrl' ? rowId : rowObj[i][1]));
        row.addCell(col, value);
        if (col.KeyType == 'PK') { row.setAttribute('data-pk', value); }
    });
}
HTMLTableRowElement.prototype.addCell = addCell;
function addCell(col, val = '') {
    let newCell = this.insertCell();
    newCell.className = (col.HiddenClass == 'noHide' ? 'ctrlView' : `ctrlView ${col.HiddenClass}`);
    if (col.ColName == 'msg') {newCell.setAttribute('colspan', colsLength);}
    newCell.dataset.coltype = col.KeyType;
    newCell.dataset.col = col.ColName;
    newCell.innerHTML = cellContent(col, val, this.id);
}
function cellContent(col, val, rowId){
    if (rowId == "headerRow") {
        return col.KeyType == 'PK' ? '' : col.ColName == 'ctrl' ? 
        /*header ctrl*/ `<div><a href='#' class='bi bi-plus' onclick="toggleRow('headerRow')"></a><a href='#' class='bi bi-caret-down' onclick="alert('DDL')"></a></div><div><a href='#' class='bi bi-x' id='toggle${rowId}' onclick="toggleRow('headerRow')"></a><a href='#' class='bi bi-check' onclick="onSave('headerRow')"></a></div>`:
        /*header norm*/ `<div>${col.ColTitle}</div><div>${col.ColTitle}<input data-hinput='${col.ColName}' type='${col.InputType}' name='${col.ColName}' value='${val}'></div>`;
    } else {
        return col.ColName == 'ctrl' ? 
        /*row ctrl*/ `<div><a href='#' class='bi bi-pencil-square' onclick="toggleRow('${rowId}')"></a><a href='#' class='bi bi-trash3' onclick="toggleConfirm('${rowId}')"></a></div><div><a href='#' class='bi bi-x' id='toggle${rowId}' onclick="toggleRow('${rowId}')"></a><a href='#' class='bi bi-check' id='action${rowId}' onclick="actionRow('${rowId}')"></a></div>`:
        /*row norm*/ `<div>${val}</div><div>${col.ColTitle}<input data-rinput='${col.ColName}' type='${col.InputType}' name='${col.ColName}' value='${val}'></div>`; 
    }
}
HTMLTableElement.prototype.emptyBody = emptyBody;
function emptyBody(){
    this.tBodies[0].remove();
    this.createTBody();
}
// ---------------------------------------------------------------------------- table end

// ---------------------------------------------------------------------------- table Action start
window.onload =  populateTable();
function populateTable(){
    colsLength = columns.filter(col => col.IsVisable === true && (col.KeyType == 'Normal' || col.KeyType == 'FK')).length;
    table.addHeader();
    //console.log(rows);
    rows.map(row => { table.addRow(row); });
    table.addFooter();
}
function onSave(rowId){
    let row = document.getElementById(rowId);
    let footerRow = table.tFoot.rows[0];
    let activeBtn = footerRow.dataset.activebtn;
    let firstBtn = footerRow.dataset.firstbtn;
    let formData = getFormData(row);

    fetch(`${grid.OnSaveAction}?activeBtn=${activeBtn}&firstBtn=${firstBtn}`, { method: 'POST', body: formData })
    .then((response) => response.json())
    .then((data) => { 
        if(rowId == 'headerRow'){
            console.log(data);
            refreshGrid(JSON.parse(data));
        }else{
            table.addRow(data, row.rowIndex);
            table.deleteRow(row.rowIndex);
        }
        alert('done successfully')
    })
    .catch((err) => { console.log(err) });
}
function onDelete(rowId){
    let footerRow = table.tFoot.rows[0];
    let activeBtn = footerRow.dataset.activebtn;
    let firstBtn = footerRow.dataset.firstbtn;
    let pk = document.getElementById(rowId).dataset.pk;

    const params = new URLSearchParams();
    params.append('id', pk);
    params.append('activeBtn', activeBtn);
    params.append('firstBtn', firstBtn);

    fetch(`${grid.OnDeleteAction}`, { method: 'POST', body: params })
    .then((response) => response.json())
    .then((data) => { console.log(JSON.parse(data)); refreshGrid(JSON.parse(data)); })
    .catch((err) => { console.log(err) });
}
function getFormData(row){
    form.innerHTML = "";
    let clonedRow = row.cloneNode(true)
    form.appendChild(clonedRow);
    let formData = new FormData(form);
    form.innerHTML = "";
    return formData;
}
function onPaging(fBtn, aBtn) {

    const params = new URLSearchParams();
    params.append('activeBtn', aBtn);
    params.append('firstBtn', fBtn);

    var requestOptions = {
      method: 'POST',
      body: params
    };

    fetch(grid.OnPagingAction , requestOptions)
    .then(response => response.json())
    .then((data) => {
        data = JSON.parse(data);
        if (fBtn == 0) {
            document.querySelector('.activePager').classList.remove('activePager');
            document.querySelector(`[data-pager='${aBtn}']`).classList.add('activePager');
            table.emptyBody();
            data.map(row => { table.addRow(row); });
        } else {
            refreshGrid(data);
        }
        let footerRow = table.tFoot.rows[0];
        footerRow.dataset.activebtn = aBtn;
    })
    .catch((err)=>{ alert('err'); console.log(err);});
}
function refreshGrid(data){
        rows = data.rows;
        footer = data.footer;
        console.log(rows)
        console.log(footer)
        table.emptyBody();
        rows.map((row) => { table.addRow(row); });
        table.addFooter(footer);
}
function toggleConfirm(rowId){
    let row = document.getElementById(rowId);
        document.getElementById(`toggle${rowId}`).onclick = function () { toggleConfirm(rowId); };
        document.getElementById(`action${rowId}`).onclick = function () { onDelete(rowId); };
    [...row.cells].map(cell => {  
      if (cell.dataset.col != 'ctrl') {
          cell.classList.toggle('msg');
      }
      else {
          cell.classList.toggle('ctrlView');
          cell.classList.toggle('ctrlEdit');
      }
    });
}
function toggleRow(rowId) {
    let row = document.getElementById(rowId);
    document.getElementById(`toggle${rowId}`).onclick = function() { toggleRow(rowId); };
    if (rowId != 'headerRow') { document.getElementById(`action${rowId}`).onclick = function () { onSave(rowId); } };
    [...row.cells].map(cell => {
        cell.classList.toggle('ctrlEdit');
        cell.classList.toggle('ctrlView');
    })
}

// ---------------------------------------------------------------------------- table Action end

</script>